body {
  background-color: lightgray;
}
.container {
  position: relative;
  /*background-color: grey;*/
}

.draggable {
  border: 1px solid rgb(203 213 225);
  border-radius: 0.25rem;
  height: 8rem;
  cursor: grab;
  /*width: 10rem;*/

  position: absolute;
  top: 10px;
  /*left: 10px;

  /* Center the content */
  align-items: center;
  display: flex;
  /*justify-content: center;*/

  /* Indicate that the element is draggable */
  cursor: move;
  user-select: none;
}
.active {
  cursor: grabbing;
  filter: drop-shadow(0 0 15px #1b5e20);
}
